#grand{
	width: 1330px;
	height:1750px;
	display: flex;
  flex-wrap: wrap;

}
#mmm{
	width: 1330px;
	height: 370px;
	border-radius:25px;
	overflow: auto;
		margin: 5px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#274c3c,#8e44ad,#ad445c);
		background-size: 400% 400%;
		animation: sss 15s ease-in-out infinite;
	}
	.text{
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		margin: 360px 0;
		font-size: 22px;
	}
	@keyframes sss {
		0%
		{
			background-position: 0% 50%;
		}
		50%
		{
			background-position: 100% 50%;
		}
		100%
		{
			background-position: 0% 50%;
		}
}
h1{
	text-align: center;
	color: white;
	font-style: italic;
	margin:100px;
	margin-left:auto;
	margin-right: auto;
	font-style: italic;
  font-family: monospace;
}
#ppp{
	width: 1330px;
	height: 1000px;
	display: inline-block;
}
#sss{
	width: 1330px;
	height: 250px;
	background-color:#008B8B;
	border-radius: 25px;

}



.kkk{
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	padding-left: auto;
	padding-right:auto;
}
nav{
	width: 1330px;
	height: 100px;
	text-align: center;
}
nav ul{
	width: auto;
	overflow: auto;
	text-align: center;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
	padding:5px 15px;
}
nav ul li:hover{
border: 1px solid black;
}

nav ul li a{
	text-decoration: none;
	color: black;
	font-size:25px;
	text-align: center;
	font-style: italic;
  font-family: monospace;
}
ul li a{
	margin:10px;
	margin-left: auto;
	margin-right: auto;

}
img{
  filter: grayscale(50%);
	transition: 1s;
}
img:hover{
	filter: grayscale(0%);
	transform: scale(1.1);
}
p{
	color:cyan;
	font-style: italic;
  font-family: monospace;
}
.mp{
	text-align: center;
        margin-top:50px;
				margin-bottom: 5px;
        color:white;

}
